:root {
    --backColor: #fdfdfd;
    --colorWhite: #fff;
    --colorLinks: #007eb8;
    --colorOne: #202d54;
    --colorTwo: #2c3870;
    --colorThree: #2d2e83;
    --colorFour: #007eb8;
}

/* LOGIN PAGE */

.content {
    margin: 20px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('/static/images/logoColorSmall.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    filter: blur(5px);
    opacity: 0.1;
    z-index: -1;
}

.front {
    max-width: 500px;
    border: 1px solid var(--colorLinks);
    -webkit-box-shadow: inset 0px 0px 28px 2px rgba(0,0,0,0.47);
    -moz-box-shadow: inset 0px 0px 28px 2px rgba(0,0,0,0.47);
    box-shadow: inset 0px 0px 28px 2px rgba(0,0,0,0.47);    
    padding: 30px;
    border-radius: 25px;
    background-color: #fdfdfd6b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.front h1 {
    text-align: center;
}

form p  {
    display: flex;
    flex-direction: column;
}

form p:nth-of-type(3) input {
    background-color: var(--colorOne);
    color: var(--colorWhite);
    transition: all .3s;

}

form p:nth-of-type(3) input:hover {
    background-color: var(--colorFour);
    transition: all .3s;
    transform: scale(1.04);
}

form p label {
    text-align: center;
    margin: 5px;
    font-weight: 600;
}

form p input {
    padding: 10px 20px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.recover {
    text-align: center;
}

.recover a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    color: var(--colorLinks);
}

.recover a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--colorOne);
    transition: width 0.6s ease-in-out;
    transform: translateX(-50%);
}

.recover a:hover::after {
    width: 100%;
}