{% extends "base.html" %}

{% block title %}Cambio de Contraseña{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/logout.css' %}"/>
{% endblock styles %}

{% block content %}
    <div class="back"></div>
    <div class="logout">
        <h1>Cambio de Contraseña</h1>
        <p>Use el siguiente formulario para cambiar su contraseña.</p>
        <form method="post">
            {{ form.as_p }}
            <input class="bt-logout" type="submit" value="Cambiar">
            {% csrf_token %}
        </form>
    </div>
{% endblock %}